html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  background-image: url(../images/iceweasel_background.png);
  background-repeat: repeat;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

  body.before-game:after {
    content: '';
  }

  body.lose-game:after {
    content: 'press "z" to try again';
  }

  body.win-game:after {
    content: 'Win! press "z" to play again';
  }

  body:after {
    font-size: 30px;
    line-height: 140px;
    text-align: center;
    color: rgb(60, 16, 11);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 140px;
    margin-left: -200px;
    margin-top: -70px;
    border-radius: 5px;
  }

.eow-timer {
  position: absolute;
  font-size: 144px;
  font-weight: 100;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #222;
}

.at-stake {
  position: absolute;
  font-size: 164px;
  font-weight: 100;
  top: 250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: rgba(30, 30, 240, 1);
  background-color: rgba(240, 30, 30, 1);
  font-style: italic;
}